@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}
.poppins-font{
    font-family: 'Poppins', sans-serif;
}
.img-bg{
    background: rgba(29, 29, 29, 0.7);
    border-radius: 5px;
}
.accordion-custom{
    max-width: 900px;
    margin: 0 auto;
}
.top-30{
    top:30%;
}
.top-20{
    top:20%;
}
.small-h{
    font-size: 20px;
}
.small-text{
    font-size: 12px;
}
.section-mt{
    margin-top:100px;
}
.courses-h1f{
    font-size:30px;
}   
.accordion-button:not(.collapsed){
    color:black;
    font-weight: 700;
}